header {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  padding-bottom: 100px;
}

header menu {
  background: rgba(138, 50, 30, 0.502);
  display: flex;
  justify-content: center;
  padding: 0 5px;
}
header .container {
  margin: 0 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
  column-gap: 5px;
}
header nav ul li {
  display: flex;
}
header video {
  line-height: 1.05;
  display: flex;
}
header nav ul li a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 10px;
}
header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.204);
}
header .nadpis {
  color: rgba(189, 69, 32, 255);
  text-align: center;
  margin-top: 70px;
}
header .nadpis h2 {
  font-size: 100px;
  text-shadow: 3px 2px 4px rgb(18, 6, 6);
  border-bottom: 1px solid rgba(189, 69, 32, 255);
  display: inline-block;
  padding-bottom: 10px;
}
header .nadpis h3 {
  margin-top: 10px;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgb(18, 6, 6);
}

@media (max-width: 700px) {
  header .container {
    flex-direction: column;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav {
    justify-content: center;
    margin-top: 15px;
  }
  header nav ul li {
    justify-content: center;
  }
  header nav ul li a {
    padding: 10px 20px;
  }
  header a.logo {
    display: flex;
    justify-content: center;
  }
  header .nadpis {
    margin-top: 30px;
    font-size: 10vw;
  }
  header .nadpis h2 {
    font-size: 1em;
  }
  header .nadpis h3 {
    font-size: 0.3em;
  }
}
